@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-color:#9ae6b4
}

::selection{
   background-color: #16A34A;
   color: #BBF7D0;
}

body::-webkit-scrollbar {
   display: block;
   width: 8px;
  
   background-color: #fff;
 }
 body::-webkit-scrollbar-thumb {
   background: #22C55E;
 
   border-radius: 50px;
 }